:root {
  /* colors taken from Qrypt branding guide: https://qrypt.frontify.com/d/faJbtfVV1X8k/brand-guide#/visual/color */
  /* NOTE: some colors weren't in the guide, but are taken from figma and integrated to variables below to follow the same naming */

  /* basic colors */
  --black: #000000;
  --white: #ffffff;

  /* navy color pallete */
  --navy: #171628;
  --navy-90: #242335;
  --navy-30: #8c8c8c;
  --navy-20: #d2d2d5;
  --navy-10: #e9e9eb;
  --navy-5: #fafafa;
  --navy-1: #f1f1f1;

  /* blue color pallete */
  --blue: #5654e5;
  --blue-75: #7072ec;
  --blue-50: #a1aaf9;
  --blue-25: #b8c5ff;
  --blue-10: #eeeefc;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ibm-plex-sans-v9-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/ibm-plex-sans-v9-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/ibm-plex-sans-v9-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/ibm-plex-sans-v9-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/ibm-plex-sans-v9-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/ibm-plex-sans-v9-latin-regular.svg#IBMPlexSans")
      format("svg"); /* Legacy iOS */
}

html {
  display: flex;
  justify-content: center;
  background-color: var(--navy-5);
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  color: var(--navy);
  background-color: #f1f1f1;
  font-family: "IBM Plex Sans", "Helvetica", "Tahoma", "Geneva", "Arial",
    sans-serif;
  background-color: var(--white);
  max-width: 90rem;
}

#top-bar {
  background: #f1f1f1;
  border-radius: 2px;
  padding: 0 1rem;
  height: 0;
  min-height: 3rem;
}

textarea:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select[multiple="multiple"]:focus {
  border-color: none;
  box-shadow: none;
}

h2,
h3,
h4,
h5 {
  color: var(--navy);
  font-family: "IBM Plex Sans", "Helvetica", "Tahoma", "Geneva", "Arial",
    sans-serif;
}

h1 {
  font-family: "IBM Plex Sans", "Helvetica", "Tahoma", "Geneva", "Arial",
    sans-serif;
  font-size: 1.25rem;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

.main-title {
  font-size: 2.125rem;
  font-weight: bold;
  text-align: left;
  color: var(--navy);
}

code {
  font-family: "IBM Plex Sans", "Helvetica", "Tahoma", "Geneva", "Arial",
    sans-serif;
}

#commandline span {
  color: #abb2bf;
  font-style: normal;
}

a {
  color: var(--blue);
}

.anchor {
  color: var(--blue);
}

a:hover {
  color: var(--navy);
}

#sidebar ul li.visited > a .read-icon {
  color: var(--blue);
}

#body {
  border-right: 1px solid var(--navy-10);
  background-color: var(--white);
}

#body .padding {
  padding: 1rem 6rem 3rem 6rem;
}

@media only screen and (max-width: 48rem) {
  #body .padding {
    padding: 1rem;
  }
}

#body a.highlight:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
  background-color: var(--navy);
}

#body-inner #sidebar-toggle-span {
  display: none;
}

#head-tags {
  margin-top: 0;
}

#sidebar-toggle-span {
  border-right: 0 !important;
}

.custom-sidebar-toggle {
  border-right: 0;
  padding-right: 0;
  margin-right: 1rem;
}

@media only screen and (min-width: 48rem) {
  #sidebar-toggle-span {
    display: none;
  }
}

.contact-links {
  display: flex;
  justify-content: flex-end;
}

.contact-links a {
  font-weight: bold;
}

#sidebar {
  background-color: var(--navy-5);
  left: auto;
  border: 1px solid var(--navy-10);
}

#sidebar #header-wrapper {
  background: var(--navy-5);
  color: var(--navy);
  border: none;
}

#sidebar #header-wrapper #header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

#sidebar #header-wrapper #header > a {
  display: flex;
  align-items: center;
  color: var(--navy);
  font-size: 1.25rem;
}

@media only screen and (max-width: 60rem) {
  #sidebar #header-wrapper #header > a > span {
    display: none;
  }
}

#sidebar #header-wrapper #header svg {
  width: 6.25rem;
  height: 1.5rem;
}

#sidebar .searchbox {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  border-color: var(--navy-20);
  border-radius: 0;
}

#sidebar .searchbox input {
  box-shadow: none;
  padding-left: 0;
}

#sidebar .searchbox label {
  position: absolute;
  right: 0.25rem;
  left: auto;
  top: 0.25rem;
}

#main-menu {
  background-image: none;
  background-color: red;
}

#sidebar .searchbox > input#search-by::placeholder {
  color: var(--navy);
  opacity: 0.5;
}

#sidebar ul.topics > li.parent,
#sidebar ul.topics > li.active {
  background-color: var(--navy-5);
}

#sidebar ul.topics > li > a {
  line-height: 1.375rem;
  font-size: 0.875rem;
  color: var(--navy);
}

#sidebar li.active > a {
  position: relative;
}

/* #sidebar li.active > a::after {
  content: "";
  display: inline-block;
  border: solid var(--navy);
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(45deg);
  position: absolute;
  right: 1rem;
  top: 1rem;
} */

#sidebar ul li li {
  padding-left: 1rem;
  text-indent: 0;
}

#sidebar .searchbox * {
  color: var(--navy);
  border: none;
}

#sidebar a {
  color: var(--navy-30);
}

#sidebar a:hover {
  color: var(--navy-90);
}

#sidebar ul li {
  margin: 0;
}

#sidebar ul li > a,
#sidebar ul li.active > a,
#sidebar ul li.visited > a {
  margin: 0;
  padding: 0.75rem 1rem;
  color: var(--navy);
}

#sidebar ul li.active > a {
  background-color: var(--blue-10);
  color: var(--navy) !important;
}

#sidebar ul li > a:hover {
  background-color: var(--blue-10);
  color: var(--navy);
}

#sidebar ul li > a {
  color: var(--navy);
}

#sidebar hr {
  border-color: var(--navy-90);
}

#sidebar > .highlightable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 127px) !important;
}

#sidebar > .highlightable > #footer {
  padding: 0;
  margin: 0 1rem 0 1rem;
  font-size: 0.875rem;
}

#sidebar > .highlightable > #footer a {
  padding: 0.5rem 1rem;
}

.topics .visited a {
  color: red;
}

div.notices.note p {
  border-top: 30px solid #5654e5;
  background: #b8c5ff;
}

div.notices.warning p {
  border-top: 30px solid #fd3427;
  background: #fdbba9;
}

div.notices.tip p {
  border-top: 30px solid #34921b;
  background: #afec68;
}

div.notices.info p {
  border-top: 30px solid #ff9700;
  background: #ffc600;
}

.link-container {
  display: inline-flex;
  align-items: center;
}

.link-container img {
  height: 16px;
  width: 16px;
}

.link-container img:hover {
  color: #5654e5;
}

@media only screen and (min-width: 20rem) {
  h1 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 40rem) {
  h1 {
    font-size: 3.25rem;
  }
}
