<table width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<th width="134">Option</th>
		<th>Description</th>
	</tr>
	<tr>
		<td width="134">-f</td>
		<td>Run rngd as a foreground process. If omitted, rngd will run as a background daemon.</td>
	</tr>
	<tr>
		<td width="134">-o path</path></td>
		<td>Device or file for the random number output. Defaults to '/dev/random'.</td>
	</tr>
	<tr>
		<td width="134">-x source</path></td>
		<td>Disables the specified source. For example, '-x hwrng'.</td>
	</tr>
	<tr>
		<td width="134">-n source</path></td>
		<td>Enables the specified source. For example, '-n qrypt'.</td>
	</tr>
	<tr>
		<td width="134">-O source:key:value</path></td>
		<td>Sets a source specific configuration option. For example, '-O qrypt:tokenfile:/etc/rngd/qrypt.token'.</td>
	</tr>
</table>