<div class="steps-container">
  <div class="steps">
    <div class="step">
      Navigate to
      <a href="https://portal.qrypt.com" target="_blank"
        >https://portal.qrypt.com</a
      >
      and create a new account.
    </div>

    <div class="step">
      Enter your email address and a strong password, then click the button to
      create your account.
    </div>

    <div class="step">
      Check your email for the 4-digit account confirmation code and enter it on
      the website to confirm your account.
    </div>

    <div class="step">When prompted, enter your first and last name.</div>
  </div>
</div>
