<div class="steps-container">
  <div class="steps">
    <div class="step">Navigate to the Tokens page.</div>
    <div class="step">
      Assign a name to the token to help you distinguish between different
      tokens.
    </div>
    <div class="step">
      Select the expiration period. This determines when the token will expire
      and need to be replaced.
    </div>
    <div class="step">Click the <span>“Generate token”</span> button.</div>
    <div class="step">
      The generated token will be displayed along with an example of how entropy
      data can be requested. Copy the token using the <span></span> button and
      store it in a secure location. Important: This is the only time you will
      be able to view the access token. Be sure to copy and store it before
      closing this popup.
    </div>
  </div>
</div>
