<table width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<th width="134">JSON Fields</th>
		<th>Description</th>
	</tr>
	<tr>
		<td width="134">random</td>
		<td>An array of base64-encoded strings (as defined in <a target="_blank" href="https://datatracker.ietf.org/doc/html/rfc4648#section-4">RFC 4648 §4, Base 64 Encoding)</a> . The length of the array is specified in the size field (below). Each string, when decoded, contains a 1,024-byte sequence of entropy.</td>
	</tr>
	<tr>
		<td width="134">size</td>
		<td>The number of base64-encoded strings in the array returned in the random field (above).</td>
	</tr>
</table>